# Login no site JR Comércio
JR_EMAIL=contato.sidnei@yahoo.com.br
JR_SENHA=TROCAR_APOS_TESTES

# Supabase
SUPABASE_URL=https://sporheamewjhbixayyjk.supabase.co
SUPABASE_KEY=sua_anon_key_aqui

# Google Sheets
GOOGLE_SHEET_ID=id_da_planilha_aqui
GOOGLE_SERVICE_ACCOUNT_EMAIL=jr-agente@seu-projeto.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----"

# Segurança
API_SECRET=chave_secreta_longa_e_aleatoria_aqui

# Porta (Railway define automaticamente)
PORT=3000
